<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="36673"
    android:versionName="6.47.0.36673"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    package="com.eero.android"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">
    <uses-sdk
        android:minSdkVersion="28"
        android:targetSdkVersion="34"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
        <package android:name="com.google.android.apps.maps"/>
    </queries>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true"/>
    <permission
        android:name="com.eero.android.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.eero.android.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <application
        android:theme="@style/AppTheme.Light"
        android:label="@string/app_label"
        android:icon="@mipmap/ic_launcher"
        android:name="com.eero.android.application.EeroApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:roundIcon="@mipmap/ic_launcher"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true">
        <activity
            android:theme="@style/SplashTheme"
            android:name="com.eero.android.v3.features.splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="com.eero.android.v3.common.activity.TabBarActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/AppTheme.Dark"
            android:label="@string/app_name"
            android:name="com.eero.android.v3.common.activity.TabBarActivityDark"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:label="@string/app_name"
            android:name="com.eero.android.v3.common.activity.ProInstallerTabBarActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/AppTheme.Dark"
            android:label="@string/app_name"
            android:name="com.eero.android.v3.common.activity.ProInstallerTabBarActivityDark"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/AppTheme.Light"
            android:label="@string/app_name"
            android:name="com.eero.android.v3.common.activity.V3SetupRouterActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/AppTheme.Dark"
            android:label="@string/app_name"
            android:name="com.eero.android.v3.common.activity.V3SetupRouterActivityDark"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/AppTheme.Light"
            android:label="@string/app_name"
            android:name="com.eero.android.v3.features.onboarding.V3OnboardingActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/AppTheme.Dark"
            android:label="@string/app_name"
            android:name="com.eero.android.v3.features.onboarding.V3OnboardingActivityDark"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/AppTheme.Light"
            android:label="@string/app_name"
            android:name="com.eero.android.v3.common.activity.NavigatorActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/AppTheme.Dark"
            android:label="@string/app_name"
            android:name="com.eero.android.v3.common.activity.NavigatorActivityDark"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"/>
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://fe749b40c55f49ac84ef542e6c179737@o80279.ingest.sentry.io/3594109"/>
        <meta-data
            android:name="io.sentry.environment"
            android:value="prod"/>
        <activity
            android:theme="@style/TransparentTheme"
            android:label="@string/example_ui_title"
            android:name="com.eero.android.ui.ExampleActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/TransparentTheme"
            android:label="@string/example_ui_title"
            android:name="com.eero.android.ui.ExampleActivityDark"
            android:exported="true"
            android:launchMode="singleInstance"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize"/>
        <service
            android:name="com.eero.android.push.EeroFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.eero.android.service.BurstService"
            android:exported="false"
            android:description="@string/burst_service_description"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/eero_grey"/>
        <activity
            android:theme="@style/SplashTheme"
            android:name="com.eero.android.v3.features.deeplink.V3DeepLinkActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="eero"
                    android:host="jumpto"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="http"
                    android:host="app.eero.com"/>
                <data android:scheme="https"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="applinks.eero.com"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="applinks.e2ro.com"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DEVICE.NEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="eero.android.intent.action.NETWORK.UPDATED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="eero.android.intent.action.WEEKLY.ACTIVITY.REPORT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="eero.android.intent.action.NETWORK.DATAUSAGE.REPORT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="eero.android.intent.action.INVITE.RESPONSE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="eero.android.intent.action.EERO.AUTOPROVISIONED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="eero.android.intent.action.EERO.AUTODISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="eero.android.intent.action.EERO.UPDATED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.eero.android.core.service.TrustJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <service
            android:name="com.eero.android.service.LogoutService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <activity
            android:theme="@style/TransparentTheme"
            android:name="com.eero.android.v3.features.interstellarvpn.shortcut.InterstellarVpnShortcutEntryPointActivity"
            android:exported="false"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.eero.android.vpn.ENABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.eero.android.vpn.DISABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.eero.android.v3.features.interstellarvpn.shortcut.InterstellarVpnShortcutService"
            android:exported="false"/>
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true"/>
        <service
            android:name="com.wireguard.android.backend.GoBackend.VpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
        <service
            android:name="com.guardianconnect.GRDDNSProxy"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.VpnService"/>
            </intent-filter>
        </service>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true"/>
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="7.0.0"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivityV2"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true"/>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.eero.android.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <provider
            android:name="io.sentry.android.core.SentryInitProvider"
            android:exported="false"
            android:authorities="com.eero.android.SentryInitProvider"/>
        <provider
            android:name="io.sentry.android.core.SentryPerformanceProvider"
            android:exported="false"
            android:authorities="com.eero.android.SentryPerformanceProvider"
            android:initOrder="200"/>
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            android:exported="true"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.eero.android.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="MAPDeviceType"
            android:value="@string/amazon_auth_app_device_type"/>
        <meta-data
            android:name="MAPIsolateApplication"
            android:value="true"/>
        <meta-data
            android:name="MAPEnvironment"
            android:value="@string/amazon_auth_endpoint"/>
        <activity
            android:theme="@style/Theme.AmazonAuth"
            android:label="@string/amazon_auth_activity_label"
            android:name="com.amazon.identity.auth.device.AuthPortalUIActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|screenSize|orientation|keyboardHidden|keyboard|locale"
            android:allowTaskReparenting="true"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <activity
            android:theme="@style/zxing_CaptureTheme"
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true"/>
    </application>
</manifest>