[submodule "nuclei-templates"]
	path = nuclei-templates
	url = https://github.com/projectdiscovery/nuclei-templates.git
[submodule "PayloadsAllTheThings"]
	path = PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings.git
